DICTIONARIES

In [ ]:
#Create a dictionary of 5 countries and their capitals. Print it. 

world_capitals={"India":"new delhi",
                "Japan":"tokyo",
                "france":"paris",
                "brazil":"brasilia",
                "canada":"ottawa"}
print(world_capitals)

{'India': 'new delhi', 'Japan': 'tokyo', 'france': 'paris', 'brazil': 'brasilia', 'canada': 'ottawa'}

In [ ]:
#Access the capital of "India" from the dictionary. 

print(world_capitals["India"])

new delhi

In [5]:
#Add a new key-value pair "Japan": "Tokyo" to the dictionary. 
world_capitals["USA"]="washington"
print(world_capitals)

{'India': 'new delhi', 'Japan': 'tokyo', 'france': 'paris', 'brazil': 'brasilia', 'canada': 'ottawa', 'pakistan': 'karachi', 'USA': 'washington'}

In [6]:
#Update the capital of "USA" from "Washington" to "New York". 
world_capitals["USA"]="new york"
print(world_capitals)

{'India': 'new delhi', 'Japan': 'tokyo', 'france': 'paris', 'brazil': 'brasilia', 'canada': 'ottawa', 'pakistan': 'karachi', 'USA': 'new york'}

In [7]:
#Delete the key "France" using del. 
del world_capitals["france"]
print(world_capitals)

{'India': 'new delhi', 'Japan': 'tokyo', 'brazil': 'brasilia', 'canada': 'ottawa', 'pakistan': 'karachi', 'USA': 'new york'}

In [1]:
#Create a dictionary of students and marks. Use .keys() to print all student names. 
st_data={
    "john":25,
    "alice":56,
    "bob":98,
    "sam":67
}
students=st_data.keys()
print(students)

dict_keys(['john', 'alice', 'bob', 'sam'])

In [2]:
#Use .values() to print all marks. 
marks=st_data.values()
print(marks)

dict_values([25, 56, 98, 67])

In [4]:
#Use .items() to print all key-value pairs. 
items=st_data.items()
print(items)

dict_items([('john', 25), ('alice', 56), ('bob', 98), ('sam', 67)])

In [6]:
#Use .get() to access the value of "Rahul" safely (if not found, return "Not Found"). 
print(st_data.get("rahul","not found"))

not found

In [7]:
#Use .update() to add multiple key-value pairs in one step. 
user_profile={
    "username":"coder_99",
    "level":5
}
user_profile.update({
    "language":"python",
    "is_active":"true",
    "streak":12
})
print(user_profile)

{'username': 'coder_99', 'level': 5, 'language': 'python', 'is_active': 'true', 'streak': 12}

In [9]:
#Use .pop(key) to remove "Germany" from the dictionary. 
countries={
    "india":"new delhi",
    "germany":"berlin",
    "japan":"tokyo"
}
print(countries.pop("germany","not found"))
print(countries)

berlin
{'india': 'new delhi', 'japan': 'tokyo'}

In [11]:
# Try popping a non-existing key using .pop() with a default value. 
print(countries.pop("turkey","not found"))
print(countries)

not found
{'india': 'new delhi', 'japan': 'tokyo'}

In [12]:
#Use .clear() to remove all elements from the dictionary. 
countries.clear()
print(countries)

{}

In [ ]:
# Create a dictionary, make a copy using .copy(), and update the copy without affecting the original. 
student_info={
    "john":56,
    "alice":78
}
copy=student_info.copy()
copy.update({
    "sam":56
})
print(student_info)
print(copy)

{'john': 56, 'alice': 78}
{'john': 56, 'alice': 78, 'sam': 56}

In [14]:
#Count the frequency of words in a sentence using a dictionary
sentence="my name is sabreena khan"
words=sentence.lower().split()
frequency={}
for word in words:
    if word in frequency:
        frequency[word]+=1
    else:
        frequency[word]=1
print(frequency)

{'my': 1, 'name': 1, 'is': 1, 'sabreena': 1, 'khan': 1}

In [16]:
# Store product names as keys and prices as values. Print products costing more than 100. 
products={
    "chair":3000,
    "table":350,
    "chips":20,
    "chocolate":10
}
for product in products:
    if(products[product]>100):
        print(product)

chair
table

In [17]:
# Write a program to check if "Apple" exists as a key in a dictionary. 
fruits={
    "apple":350,
    "mango":500,
    "banana":250
}
if "apple" in fruits:
    print("yes apple in fruits")
else:
    print("no")

yes apple in fruits

In [18]:
#Find the key with the maximum value in a dictionary of student marks
student_marks = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Diana": 95,
    "Ethan": 88
}
top_student=max(student_marks,key=student_marks.get)
print(top_student)

Diana

In [19]:
# Convert two lists into a dictionary (e.g., ["name","age","city"] and ["Amit",25,"Delhi"]). 
keys=["name","age","city"]
values=["amit",25,"delhi"]
result_dict=dict(zip(keys,values))
print(result_dict)

{'name': 'amit', 'age': 25, 'city': 'delhi'}

In [20]:
#Swap keys and values in a dictionary.
og_dict={
    "A":1,
    "B":2,
    "C":3
}
swapped_dict={value:key for key,value in og_dict.items()}
print(swapped_dict)

{1: 'A', 2: 'B', 3: 'C'}

LIST OF DICTIONARIES AND DICTIONARY OF LISTS

In [3]:
students1=[
    {"name":"amit","age":20},
    {"name":"neha","age":22},
    {"name":"rahul","age":19}
]
print(students1[0]["name"])

amit

In [31]:
#Loop through the list and print all student names. 
for student in students1:
    print(student["name"])

amit
neha
rahul

In [32]:
#Add a new dictionary {"name": "Priya", "age": 21} to the list. 
students1.append({"name":"priya","age":21})
print(students1)

[{'name': 'amit', 'age': 20}, {'name': 'neha', 'age': 22}, {'name': 'rahul', 'age': 19}, {'name': 'priya', 'age': 21}]

In [ ]:
#Update "Rahul"’s age to 20. 
students1[2]["age"]=20
print(students1)

[{'name': 'amit', 'age': 20}, {'name': 'neha', 'age': 22}, {'name': 'rahul', 'age': 20}, {'name': 'priya', 'age': 21}]

In [37]:
# Remove "Neha" from the list.
if students1[1]["name"]=="neha":
    del students[1]
print(students1)

[{'name': 'amit', 'age': 20}, {'name': 'neha', 'age': 22}, {'name': 'rahul', 'age': 20}, {'name': 'priya', 'age': 21}]

In [4]:
#Find the oldest student from the list. 
oldest=max(students1,key=lambda x:x["age"])
print(oldest)

{'name': 'neha', 'age': 22}

In [5]:
#Print all students whose age is greater than 20. 
for student in students1:
    if student["age"]>20:
        print(student["name"])

neha

In [8]:
# Convert this list of dictionaries into just a list of names. 
names=[student["name"] for student in students1]
print(names)

['amit', 'neha', 'rahul']

In [9]:
# Sort the list of dictionaries by age. 
students1.sort(key=lambda x: x['age'])
print(students1)

[{'name': 'rahul', 'age': 19}, {'name': 'amit', 'age': 20}, {'name': 'neha', 'age': 22}]

In [ ]:
#Create a dictionary with two keys: "names" and "ages", storing 3 students. 

std={
    "names":["amit","neha","rahul"],
    "age":[20,22,19]
}

In [ ]:
#Print the first student’s name and age. 

print(f"name = {std["names"][0]}")
print(f"age= {std["age"][0]}")

name = amit
age= 20

In [17]:
#Add a new student "Priya", 21 to both lists. 
std["names"].append("Priya")
std["age"].append(21)
print(std)

{'names': ['amit', 'neha', 'rahul', 'Priya'], 'age': [20, 22, 19, 21]}

In [18]:
#Update "Rahul"’s age to 20.
std["age"][2]=20
print(std)

{'names': ['amit', 'neha', 'rahul', 'Priya'], 'age': [20, 22, 20, 21]}

In [20]:
#Remove "Neha" and her age from both lists.
idx=std["names"].index("neha")
std["names"].pop(idx)
std["age"].pop(idx)
print(std)

{'names': ['amit', 'rahul', 'Priya'], 'age': [20, 20, 21]}

In [25]:
#Find the student with the maximum age
max_age=max(std["age"])
max_age_idx=std["age"].index(max_age)
max_student=std["names"][max_age_idx]
print(f" {max_student} is the student with maximum age of {max_age} ")

 Priya is the student with maximum age of 21

In [26]:
#Print all students older than 20.
for i in range(len(std["age"])):
    if std["age"][i]>20:
        print(f" name = {std["names"][i]} and age= {std["age"][i]}")

 name = Priya and age= 21

In [29]:
#Convert the dictionary of lists into a list of dictionaries.
students_list = [{"name": n, "age": a} for n, a in zip(std["names"], std["age"])]
print(students_list)

[{'name': 'amit', 'age': 20}, {'name': 'rahul', 'age': 20}, {'name': 'Priya', 'age': 21}]

In [31]:
#Convert the dictionary of lists into a Pandas DataFrame 
import pandas as pd
df=pd.DataFrame(students_list)
print(df)

    name  age
0   amit   20
1  rahul   20
2  Priya   21

In [34]:
#Sort students by age using the dictionary of lists
print(df.sort_values(by="age"))

    name  age
0   amit   20
1  rahul   20
2  Priya   21