LISTS

In [2]:
numbers=[10,20,30,40,50,]
print(numbers[0])
print(numbers[4])
print(len(numbers))

10
50
5

In [4]:
#Take a list of numbers and find the sum and average using built-in functions. 
num=[1,4,6,8,9]
total_sum=sum(num)
avg=total_sum/len(num)
print(total_sum)
print(avg)

28
5.6

In [5]:
#Create a list of fruits. Add a new fruit using .append() and insert one at position 2 using .insert()
fruits=["apple","banana","orange","mango"]
fruits.append("strawberry")
fruits.insert(1,"Watermelon")
print(fruits)

['apple', 'Watermelon', 'banana', 'orange', 'mango', 'strawberry']

In [9]:
#Remove an element from a list using .remove() and delete the last element using .pop(). 
fruits.remove("apple")
print(fruits)

['Watermelon', 'banana', 'orange', 'mango']

In [10]:
fruits.pop()

'mango'

In [11]:
#Create a list with duplicate numbers. Use .count() to check how many times a number appears.
num=[2,34,3,56,7,8,56,9]
target=56
frequency=num.count(target)
print(frequency)

2

    SEARCHING AND SORTING

In [13]:
li=[2,3,4,5,6,7,8]
target=7
if target in li:
    print("present")
else:
    print("not present")

present

In [14]:
#Create a list of 5 integers. Use .index() to find the position of a given number. 
li=[10,20,30,40,50]
print(li.index(30))

2

In [15]:
#Sort a list in ascending and descending order using .sort() and reverse=True. 
li=[10,20,30,50,15]
li.sort()
print(li)

[10, 15, 20, 30, 50]

In [16]:
li=[10,20,30]
li.sort(reverse=True)
print(li)

[30, 20, 10]

In [17]:
#Reverse a list using .reverse() method. 
li=[34,56,78,34,14]
li.reverse()
print(li)

[14, 34, 78, 56, 34]

TUPLE

In [21]:
#Create a tuple of 5 numbers and print its first and last elements. 
num=(10,20,30,40,50,60)
print(num[0])
print(num[5])

10
60

In [22]:
print(len(num))

6

In [25]:
fruits=("apple","mango","banana","orange")
for fruit in fruits:
    print(fruit)

apple
mango
banana
orange

In [26]:
target="apple"
if target in fruits:
    print("Exists")
else:
    print("Not exists")

Exists

In [ ]:
#Create two tuples and concatenate them. 


even=(2,4,6,8)
odd=(1,3,5,7,9)
print(even+odd)

(2, 4, 6, 8, 1, 3, 5, 7, 9)

In [29]:
#Create a tuple with repeated numbers. Use .count() to find how many times a number appears.
tu=(91,1,2,3,4,4,5,5,5,6,77)
target=5
frequency=tu.count(target)
print(frequency)

3

In [30]:
#Create a tuple of 10 integers. Use .index() to find the position of a specific element. 
tu=(1,2,3,4,5,6,7,8,9,10)
target=5
print(tu.index(target))

4

In [31]:
#Convert a list into a tuple using tuple() function. 
li=["good","better","best"]
tu=tuple(li)
print(tu)

('good', 'better', 'best')

In [32]:
#Convert a tuple into a list, modify it, and convert it back into a tuple. 
tu=("today","yesterday","tomorrow")
li=list(tu)
print(li)

['today', 'yesterday', 'tomorrow']

In [33]:
li.append("day after tomorrow")
tu=tuple(li)
print(tu)

('today', 'yesterday', 'tomorrow', 'day after tomorrow')

In [35]:
#10. Create a nested tuple (tuple inside tuple) and print its elements. 
nested_tuple=(("alice",25),("bob",45),("sam",18))
print(nested_tuple)
print(nested_tuple[1])

(('alice', 25), ('bob', 45), ('sam', 18))
('bob', 45)