SETS

In [1]:
colors={"pink","yellow","orange","blue","white"}
print(colors)

{'white', 'orange', 'pink', 'yellow', 'blue'}

In [2]:
num={1,2,3,3,4,5,1,3,2}
print(num)

{1, 2, 3, 4, 5}

In [3]:
fruits={"Apple","Mango","banana","orange"}
for fruit in fruits:
    print(fruit)

Apple
Mango
banana
orange

In [4]:
fruits.add("lichi")
print(fruits)

{'Apple', 'orange', 'banana', 'Mango', 'lichi'}

In [7]:
fruits.discard("strawberry")
print(fruits)

{'Apple', 'orange', 'banana', 'Mango', 'lichi'}

In [8]:
fruits.pop()
print(fruits)

{'orange', 'banana', 'Mango', 'lichi'}

In [ ]:
#Create two sets and find their union. 

setA={1,2,3,4}
setB={5,6,7,8}
print(setA.union(setB))

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
#Create two sets and find their intersection. 
setA={2,4,5,6,7,8}
setB={1,2,3,8,9}
print(setA.intersection(setB))

{8, 2}

In [12]:
# Create two sets and find their difference (A âˆ’ B). 
print(setA.difference(setB))

{4, 5, 6, 7}

In [13]:
#Use .copy() to create a copy of a set and modify the copy. 
setA={1,2,3,4,5}
set_copy=setA.copy()
set_copy.pop()
print(setA)
print(set_copy)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [14]:
# Use .clear() to empty a set. 
set_copy.clear()
print(set_copy)

set()

In [ ]:
# Convert a list with duplicates into a set to remove duplicates. 

li=[1,2,3,4,5,5,6,7,3,2,1]
conv_set=set(li)
print(conv_set)

{1, 2, 3, 4, 5, 6, 7}

In [16]:
#Write a program to find all unique characters in a string using a set. 
str=input("Enter any string")
st=set(str)
print(st)

{'n', 'a', 'e', 'b', 's', 'r'}

In [17]:
#Given two lists of students (cricket and football), find students who play both sports (intersection). 
cricket=["alice","bob","john"]
football=["bob","john","sam"]
ckt_set=set(cricket)
ftb_set=set(football)
print(ckt_set.intersection(ftb_set))

{'bob', 'john'}

In [ ]:
#Given two lists of students, find students who play only cricket (difference). 

print(ckt_set.difference(ftb_set))

{'alice'}

In [21]:
sentence=input("enter a sentence")
words_list=sentence.split()
word_set=set(words_list)
print(word_set)

{'sabreena', 'is', 'my', 'hi', 'name'}

In [22]:
#Write a program to check if two sets are equal (ignoring order). 
setA={1,2,3,4,5}
setB={2,3,4,5,6}
print(setA==setB)

False

In [24]:
# Create two sets and check if they have at least one element in common (hint: use intersection). 
common=setA.intersection(setB)
if(len(common)>0):
    print("Common element found")
else:
    print("common element not found")

Common element found

In [25]:
# Write a program to find the number of unique elements in a list using a set.
li=[1,2,3,4,5,6,4,3,2]
li_to_set=set(li)
print(len(li_to_set))

6